export PERSONAL_HOME_GPG_PUB="64CDCE2CBAA1AE8CD64D4D7A30C14E3F3DCE9624"
export INTELNUC_SILLY_HOME_GPG_PUB="BC6F7CA7252F24CC5879A70BDED96B6F9AD75118"
export SOPS_PGP_FP="$PERSONAL_HOME_GPG_PUB,$INTELNUC_SILLY_HOME_GPG_PUB"
